{
	"name": "Project Zeus",
	"offline": "False",
	"domain": {
		"host": "zeus.local",
		"scheme": "http"
	},
	"database": {
		"host": "127.0.0.1",
		"port": 3306,
		"database": "zdb21",
		"username": "Zeus",
		"password": "48laQwkks2M35VXy"
	},
	"keys": {
		"rccaccess": "jjnvy9c3iwt9zan13vdxx0j2eg9mbptmylp0uygw",
		"rccsettings": "9eh36iaqd0wk7wda55ezz1of7we9qg97ivojeyke",
		"clientsettings": "fa8f7a40-b9de-4947-b525-2a3ecb5b8b35",
		"versioncompatibility": "8de28c91-f413-42ed-9870-2c6069d2adfa",
		"counters": "27ecf37a-6a54-4227-b839-5f0698cb125e"
	}
}