DirectorySlash Off

RewriteEngine on

RewriteRule ^maintenance/check/?$ /internal/ismaintenancemodeenabled.php [L,NC] # last, non case sensitive
RewriteRule ^maintenance/login/?$ /internal/maintenancepassthrough.php [L,QSA,NC] # last, add query, non case sensitive