ErrorDocument 400 /Pages/error.php
ErrorDocument 401 /Pages/error.php
ErrorDocument 403 /Pages/error.php
ErrorDocument 404 /Pages/error.php
ErrorDocument 500 /Pages/error.php
DirectorySlash off

RewriteEngine on
RewriteRule ^login/maintenance/?$ /pages/maintenancerouter.php [L,QSA,NC] # last, add query, non case sensitive
RewriteRule ^register/?$ /pages/register.php [L,QSA,NC] # last, add query, non case sensitive